{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Lista de tracks" %}{% endblock %}

{% block content %}
<h2>{% trans "Temas principales (Tracks)" %}</h2>

{% if tracks %}
    <ul>
        {% for track in tracks %}
            <li>
                <h3><a href="{% url 'show_track' track.id %}">{{ track.nombre }}</a></h3>
                <p>{{ track.descripcion|truncatewords:25 }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No hay temas principales registrados." %}</p>
{% endif %}
{% endblock %}