{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{{ autor.nombre }}{% endblock %}

{% block content %}
<h2>{{ autor.nombre }}</h2>
{% if autor.afiliacion %}
    <p>{% trans "Afiliación:" %}{{ autor.afiliacion }}</p>
{% endif %}
    <img src="{% static 'img/' %}{{ autor.nombre|slugify }}.jpg" alt="{{ autor.nombre }}" style="max-width: 200px; height: auto;" />
<h3>{% trans "Artículos de este autor:" %}</h3>
{% if articulos %}
    <ul>
        {% for articulo in articulos %}
            <li>
                <a href="{% url 'show_articulo' articulo.id %}">{{ articulo.titulo }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans "Este autor no tiene artículos asociados." %}</p>
{% endif %}
{% endblock %}