{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ articulo.titulo }}{% endblock %}

{% block content %}
<h2>{{ articulo.titulo }}</h2>

<p>{% trans "Resumen:" %}{{ articulo.abstract }}</p>
<p>{% trans "Track:" %}
    <a href="{% url 'show_track' articulo.track.id %}">{{ articulo.track.nombre }}</a>
</p>

<h3>{% trans "Autores:" %}</h3>
{% if articulo.autores.all %}
    <ul>
        {% for autor in articulo.autores.all %}
            <li>
                <a href="{% url 'show_autor' autor.id %}">{{ autor.nombre }}</a>
                {% if autor.afiliacion %} ({{ autor.afiliacion }}){% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No hay autores asociados." %}</p>
{% endif %}
{% endblock %}