{% extends 'base.html' %}
{% block title %}{{ autor.nombre }}{% endblock %}

{% block content %}
<h2>{{ autor.nombre }}</h2>
{% if autor.afiliacion %}
    <p>Afiliación:{{ autor.afiliacion }}</p>
{% endif %}

<h3>Artículos de este autor:</h3>
{% if articulos %}
    <ul>
        {% for articulo in articulos %}
            <li>
                <a href="{% url 'show_articulo' articulo.id %}">{{ articulo.titulo }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Este autor no tiene artículos asociados.</p>
{% endif %}
{% endblock %}