{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Scientific Conference{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/validar.js' %}"></script>
</head>
<body>
    <header class="site-header">
        <h1>NexusEXPO</h1>
        <h2>The scientific global convention of the century</h2>
        <nav class="main-nav">
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'lista_tracks' %}">Tracks</a>
            <a href="{% url 'lista_autores' %}">Autores</a>
            <a href="{% url 'lista_articulos' %}">Artículos</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Scientific Conference</p>
    </footer>
</body>
</html>