{% extends 'base.html' %}
{% block title %}{{ track.nombre }}{% endblock %}

{% block content %}
<h2>{{ track.nombre }}</h2>
<p>{{ track.descripcion }}</p>

<h3>Artículos en este track:</h3>
{% if articulos %}
    <ul>
        {% for articulo in articulos %}
            <li>
                <h4><a href="{% url 'show_articulo' articulo.id %}">{{ articulo.titulo }}</a></h4>
                <p>{{ articulo.abstract|truncatewords:20 }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay artículos en este tema.</p>
{% endif %}
{% endblock %}